body {
    background-color: #2c2c2c;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
}
    nav #logo {
        font-weight: bold;
        color: #444444;
    }
    nav #pesquiza2 {
        color: #444444;

    }
    nav #funcionario {
        color: #444444;
    }
    nav #sair {
        color: #ffffff;
    }