body {
    background-color: #2c2c2c;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #444444;
}
    nav #logo {
        font-weight: bold;
        color: aliceblue;
    }
    nav #pesquiza2 {
        color: aliceblue;

    }
    nav #funcionario {
        color: aliceblue;
    }
    nav #sair {
        color: #ffffff;
    }

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 30px;
    align-items: center;
}
.cards2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 20px;
    align-items: center;
}
    .card {
        background-color: #444444;
        color: aliceblue;
        border-color: aliceblue;
        text-align: justify;
    }
    .card .card-title {
        text-align: center;
    }
    .card .btn {
        background-color: #2c2c2c;
        color: aliceblue;
        width: 100%;
    }


